address=/admob.com/0.0.0.0				# AdMob
address=/adsense.com/0.0.0.0				# AdSense
address=/adwords.com/0.0.0.0				# AdWords
address=/android.com/0.0.0.0				# Android
address=/blogger.com/0.0.0.0				# Blogger
address=/blogspot.com/0.0.0.0			# Blogger
address=/chromium.org/0.0.0.0			# Chromium
address=/chrome.com/0.0.0.0				# Google Chrome
address=/chromebook.com/0.0.0.0			# Chromebook
address=/cobrasearch.com/0.0.0.0			# Google
address=/com.google/0.0.0.0				# elgooG
address=/feedburner.com/0.0.0.0			# FeedBurner
address=/doubleclick.com/0.0.0.0			# DoubleClick
address=/igoogle.com/0.0.0.0				# iGoogle
address=/foofle.com/0.0.0.0				# Google
address=/froogle.com/0.0.0.0				# Froogle
address=/googleanalytics.com/0.0.0.0		# Google Analytics
address=/google-analytics.com/0.0.0.0	# Google Analytics
address=/googletagmanager.com/0.0.0.0	# Google Analytics
address=/googlecode.com/0.0.0.0			# Google Code
address=/googlesource.com/0.0.0.0		# Google Developer Source
address=/googledrive.com/0.0.0.0			# Google Drive
address=/googlearth.com/0.0.0.0			# Google Earth
address=/googleearth.com/0.0.0.0			# Google Earth
address=/googlemaps.com/0.0.0.0			# Google Maps
address=/googlepagecreator.com/0.0.0.0	# Google Page Creator
address=/googlescholar.com/0.0.0.0		# Google Scholar
address=/gmail.com/0.0.0.0				# Gmail
address=/googlemail.com/0.0.0.0			# Gmail
address=/keyhole.com/0.0.0.0				# Keyhole
address=/madewithcode.com/0.0.0.0		# Made with Code
address=/panoramio.com/0.0.0.0			# Panoramio
address=/picasa.com/0.0.0.0				# Picasa
address=/sketchup.com/0.0.0.0			# SketchUp
address=/urchin.com/0.0.0.0				# Google Analytics
address=/waze.com/0.0.0.0				# Waze
address=/youtube.com/0.0.0.0				# YouTube
address=/youtu.be/0.0.0.0				# YouTube
address=/yt.be/0.0.0.0					# YouTube
address=/ytimg.com/0.0.0.0				# YouTube
address=/youtubeeducation.com/0.0.0.0	# YouTube
address=/youtube-nocookie.com/0.0.0.0	# YouTube
address=/like.com/0.0.0.0				# Google
address=/google.org/0.0.0.0				# Google.org
address=/google.net/0.0.0.0				# Google
address=/466453.com/0.0.0.0				# Google
address=/gooogle.com/0.0.0.0				# Google
address=/gogle.com/0.0.0.0				# Google
address=/ggoogle.com/0.0.0.0				# Google
address=/gogole.com/0.0.0.0				# Google
address=/goolge.com/0.0.0.0				# Google
address=/googel.com/0.0.0.0				# Google
address=/duck.com/0.0.0.0				# Google
address=/googlee.com/0.0.0.0				# Google
address=/googil.com/0.0.0.0				# Google
address=/googlr.com/0.0.0.0				# Google
address=/googl.com/0.0.0.0				# Google
address=/gmodules.com/0.0.0.0			# Google
address=/googleadservices.com/0.0.0.0	# Google
address=/googleapps.com/0.0.0.0			# Google Apps for Work
address=/googleapis.com/0.0.0.0			# Google
address=/goo.gl/0.0.0.0					# Google URL Shortener
address=/googlebot.com/0.0.0.0			# Google
address=/googlecommerce.com/0.0.0.0		# Google
address=/googlesyndication.com/0.0.0.0	# Google
address=/g.co/0.0.0.0					# Google
address=/whatbrowser.org/0.0.0.0			# What Browser?
address=/localhost.com/0.0.0.0			# Google
address=/withgoogle.com/0.0.0.0			# Google
address=/1e100.net/0.0.0.0				# Google Cookies
address=/ggpht.com/0.0.0.0				# Google Photo
address=/googleusercontent.com/0.0.0.0	# Google User Content
address=/youtubegaming.com/0.0.0.0		# YouTube
address=/firehunt.com/0.0.0.0			# Google
address=/domains.google/0.0.0.0			# Google Domains
address=/safebrowsing.googleapis.com/0.0.0.0
address=/google.com/0.0.0.0		# Worldwide (Original for the United States)	
address=/google.ac/0.0.0.0		# Ascension Island	
address=/google.ad/0.0.0.0		# Andorra	
address=/google.ae/0.0.0.0		# United Arab Emirates	
address=/google.com/0.0.0.0.af	# Afghanistan	
address=/google.com/0.0.0.0.ag	# Antigua and Barbuda	
address=/google.com/0.0.0.0.ai	# Anguilla	
address=/google.al/0.0.0.0		# Albania	
address=/google.am/0.0.0.0		# Armenia	
address=/google.co.ao/0.0.0.0	# Angola	
address=/google.com/0.0.0.0.ar	# Argentina	
address=/google.as/0.0.0.0		# American Samoa	
address=/google.at/0.0.0.0		# Austria	
address=/google.com/0.0.0.0.au	# Australia	
address=/google.az/0.0.0.0		# Azerbaijan	
address=/google.ba/0.0.0.0		# Bosnia and Herzegovina	
address=/google.com/0.0.0.0.bd	# Bangladesh	
address=/google.be/0.0.0.0		# Belgium	
address=/google.bf/0.0.0.0		# Burkina Faso	
address=/google.bg/0.0.0.0		# Bulgaria	
address=/google.com/0.0.0.0.bh	# Bahrain	
address=/google.bi/0.0.0.0		# Burundi	
address=/google.bj/0.0.0.0		# Benin	
address=/google.com/0.0.0.0.bn	# Brunei	
address=/google.com/0.0.0.0.bo	# Bolivia	
address=/google.com/0.0.0.0.br	# Brazil	
address=/google.bs/0.0.0.0		# Bahamas	
address=/google.bt/0.0.0.0		# Bhutan	
address=/google.co.bw/0.0.0.0	# Botswana	
address=/google.by/0.0.0.0		# Belarus
address=/google.com/0.0.0.0.bz	# Belize	
address=/google.ca/0.0.0.0		# Canada	
address=/google.com/0.0.0.0.kh	# Cambodia	
address=/google.cc/0.0.0.0		# Cocos (Keeling) Islands	
address=/google.cd/0.0.0.0		# Democratic Republic of the Congo	
address=/google.cf/0.0.0.0		# Central African Republic	
address=/google.cat/0.0.0.0		# Catalonia Catalan Countries	
address=/google.cg/0.0.0.0		# Republic of the Congo	
address=/google.ch/0.0.0.0		# Switzerland	
address=/google.ci/0.0.0.0		# Ivory Coast	
address=/google.co.ck/0.0.0.0	# Cook Islands	
address=/google.cl/0.0.0.0		# Chile	
address=/google.cm/0.0.0.0		# Cameroon	
address=/google.cn/0.0.0.0		# China	
address=/g.cn/0.0.0.0			# China	
